/* GENERALS STYLES */
/*----- GO RESET -------*/
li {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  outline: none !important;
}
.priceProject p, .priceProject p:hover {
  text-decoration: none !important;
  outline: none !important;
  color: black;
}

/*----- END RESET -------*/
/*----- GO GENERALS -------*/
hr {
  border-color: #717a81;
  margin-bottom: 30px;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.displayNone {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.titleSection {
  text-transform: uppercase;
  font-family: 'latobold';
  font-size: 1.2em;
  color: #111111;
  padding-bottom: 10px;
  border-bottom: #717a81 1px solid;
  margin: 0 0 25px 0;
}

#slider {
  margin-bottom: 30px;
}

.btnYellow {
  margin: 20px 0;
  border: none;
  padding: 10px 0;
  background: #f0b310;
  font-family: 'latobold';
  color: #474747;
  text-transform: uppercase;
  font-size: 1.12em;
  width: 100%;
}

.btnGray {
  margin: 20px 0;
  border: none;
  padding: 10px 0;
  background: #333333;
  font-family: 'latobold';
  color: #f6f6f6;
  text-transform: uppercase;
  font-size: 1.12em;
  width: 100%;
}

.modal-content {
  border-radius: 0;
  background: #f6f6f6;
}
.modal-content .modal-header h4 {
  font-family: 'latobold';
  color: #111111;
  font-size: 1.8em;
  text-transform: uppercase;
}
.modal-content .modal-header img {
  width: 150%;
  height: auto;
}
.modal-content .form label {
  text-transform: uppercase;
  font-size: 1.12em;
  font-family: 'latobold';
  font-weight: normal;
}
.modal-content .form input {
  border-radius: 0;
  background: transparent;
  border: #111111 1px solid;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
}
.modal-content .form select {
  border-radius: 0;
  background: transparent;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: #111111 1px solid;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.modal-content .form textarea {
  border-radius: 0;
  background: transparent;
  border: #111111 1px solid;
  box-shadow: none;
  height: 100%;
  min-height: 150px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
  resize: none;
}
.modal-content .modal-footer {
  text-align: center;
}

.ubicationProperties p {
  font-family: 'latolight';
  font-size: 1.12em;
  color: #262626;
  margin-bottom: 30px;
}
.ubicationProperties p span {
  font-family: 'latobold';
}

.ourHistory p {
  font-family: 'latolight';
  font-size: 1.12em;
  color: #262626;
  margin-bottom: 30px;
  line-height: 1.8em;
}

.googleMap {
  margin-bottom: 60px;
}

/*----- END GENERALS -------*/
/*----- GO HEADER -----*/
header {
  min-height: 105px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  width: 100%;
  z-index: 1001;
  top: 0;
}
header .logoHeader {
  padding-top: 10px;
}
header .infoContact {
  padding: 10px 0 0 0;
}
header .infoContact p {
  font-size: 1.1em;
  font-family: 'latolight';
  margin: 0 0 5px 0;
}
header .infoContact p.accesslogin {
  font-size: 1.5em;
  vertical-align: middle;
  float: right;
}
header .infoContact p span {
  margin-right: 5px;
}
header .infoContact p a {
  color: #333333;
}
header .infoContact p a:hover {
  color: #737373;
}
header .infoContact ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
header .infoContact ul li {
  display: inline;
  margin-right: 10px;
}
header .infoContact ul li a {
  color: #b28500;
  font-size: 1.2em;
  display: inline-flex;
  width: 28px;
  height: 28px;
  border: #b28500 2px solid;
  border-radius: 50%;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  vertical-align: middle;
}
header .infoContact ul li a:hover {
  color: #f8d988;
  border: #f8d988 2px solid;
}
header #nav {
  border-top: #717a81 1px solid;
}
header #nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
header #nav ul li {
  display: inline-block;
}
header #nav ul li a {
  text-transform: uppercase;
  color: #121212;
  font-family: 'latoregular';
  font-size: 1.3em;
  display: block;
  padding: 20px 30px;
}
header #nav ul li a:hover, header #nav ul li a.active {
  border-bottom: #333333 3px solid;
}

/*----- END HEADER -----*/
/*----- GO FOOTER -----*/
footer #footer {
  min-height: 105px;
  background: #333333;
}
footer #footer .logoFooter {
  padding-top: 10px;
}
footer #footer .titleSectionFooter {
  font-size: 1.3em;
  color: #f6f6f6;
  text-transform: uppercase;
  font-family: 'latobold';
  padding-bottom: 10px;
  border-bottom: #717a81 1px solid;
}
footer #footer .contactFooter {
  color: #ffffff;
}
footer #footer .contactFooter p {
  font-size: 1.2em;
  font-family: 'latolight';
}
footer #footer .contactFooter p span {
  margin-right: 5px;
}
footer #footer .contactFooter p a {
  color: #f0b310;
}
footer #footer .contactFooter p a:hover {
  color: #f8d988;
}
footer #footer .socialFooter ul {
  padding: 0;
  margin: 20px 0 0 0;
}
footer #footer .socialFooter ul li {
  display: inline;
  margin-right: 10px;
}
footer #footer .socialFooter ul li a {
  color: #f0b310;
  font-size: 1.2em;
  display: inline-flex;
  width: 30px;
  height: 30px;
  border: #f0b310 2px solid;
  border-radius: 50%;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  vertical-align: sub;
}
footer #footer .socialFooter ul li a:hover {
  color: #f8d988;
  border: #f8d988 2px solid;
}
footer .copyright {
  height: 40px;
  background: #111111;
}
footer .copyright p {
  margin: 10px 0;
  padding: 0;
  color: #eeeeee;
  font-size: 1em;
  font-family: 'latolight';
}
footer .copyright ul {
  margin: 0;
  padding: 0;
  float: right;
}
footer .copyright ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 1em;
  font-family: 'latolight';
  text-transform: uppercase;
  padding: 10px 0;
}
footer .copyright ul li a {
  color: #eeeeee;
}

/*----- END FOOTER -----*/
/*----- FORM FILTER -----*/
.filterForm {
  background: #2b2b2b;
  padding: 20px 15px;
  margin-bottom: 25px;
}
.filterForm h3 {
  text-transform: uppercase;
  font-size: 1.25em;
  color: #f0b310;
  font-family: 'latobold';
  text-align: center;
  padding-bottom: 15px;
}
.filterForm label {
  text-transform: uppercase;
  font-size: 0.9em;
  font-family: 'latoregular';
  font-weight: normal;
  color: #ffffff;
}
.filterForm .rangePrice input {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: #111111 1px solid;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
}
.filterForm .select2-selection--multiple {
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: #111111 1px solid;
  box-shadow: none;
  height: 100%;
  min-height: 40px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-right: 30px;
}
.filterForm .select2-selection--multiple .select2-selection__choice {
  background: #ffffff !important;
  border-radius: 0 !important;
  border: #717a81 1px solid !important;
  font-size: 0.9em !important;
  margin-top: 3px !important;
  padding: 4px 10px !important;
  font-family: 'latobold' !important;
}
.filterForm .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  color: rgba(255, 255, 255, 0.9) !important;
}
.filterForm .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
  color: #ffffff !important;
}
.filterForm .select2-selection--multiple .select2-selection__choice span {
  background: #2b2b2b !important;
  border-radius: 50% !important;
  padding: 0 6px;
  margin-right: 8px !important;
  vertical-align: text-top;
}

.select2-results {
  background: rgba(255, 255, 255, 0.8) !important;
}
.select2-results .select2-results__option--highlighted[aria-selected] {
  background: #f0b310 !important;
}

/*----- FORM CONTACT ADVISER -----*/
.contactAdviser {
  margin-bottom: 25px;
  border: #333333 1px solid;
  padding: 20px;
}
.contactAdviser h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.25em;
  color: #262626;
  font-family: 'latobold';
  margin-bottom: 50px;
}
.contactAdviser label {
  text-transform: uppercase;
  font-size: 1.12em;
  font-family: 'latobold';
  font-weight: normal;
}
.contactAdviser input {
  border-radius: 0;
  background: #e1e1e1;
  border: none;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #262626;
  font-size: 1.12em;
}
.contactAdviser input:focus {
  border: none;
  box-shadow: none;
}
.contactAdviser textarea {
  border-radius: 0;
  background: #e1e1e1;
  border: none;
  box-shadow: none;
  height: 100%;
  min-height: 150px;
  font-family: 'latolight';
  color: #262626;
  font-size: 1.12em;
  resize: none;
}
.contactAdviser textarea:focus {
  border: none;
  box-shadow: none;
}

/*----- FORM CONTACT -----*/
.contactForm {
  margin: 30px 0;
}
.contactForm label {
  text-transform: uppercase;
  font-size: 1.12em;
  font-family: 'latobold';
  font-weight: normal;
}
.contactForm input {
  border-radius: 0;
  background: #e1e1e1;
  border: none;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #262626;
  font-size: 1.12em;
}
.contactForm input:focus {
  border: none;
  box-shadow: none;
}
.contactForm textarea {
  border-radius: 0;
  background: #e1e1e1;
  border: none;
  box-shadow: none;
  height: 100%;
  min-height: 150px;
  font-family: 'latolight';
  color: #262626;
  font-size: 1.12em;
  resize: none;
}
.contactForm textarea:focus {
  border: none;
  box-shadow: none;
}

/*----- DETAIL PROPERTIES -----*/
.infoDetailProperties h2 {
  font-size: 2em;
  margin-bottom: 5px;
  font-family: 'latobold';
  color: #242424;
}
.infoDetailProperties h3 {
  font-size: 2em;
  margin: 5px 0 20px 0;
  font-family: 'latoregular';
}
.infoDetailProperties p {
  font-size: 1.2em;
  font-family: 'latolight';
}
.infoDetailProperties .descriptionProperties {
  margin-bottom: 45px;
}
.infoDetailProperties .descriptionProperties p {
  font-size: 1em;
  font-family: 'latolight';
  color: #242424;
  line-height: 2em;
  margin-bottom: 25px;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul {
  padding: 0;
  margin: 0 0 30px 0;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul li {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  font-size: 1.2em;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul li p {
  padding: 10px 15px;
  background: #f0b310;
  display: block;
  margin: 0;
  font-family: 'latobold';
  font-size: 1.2em;
}
.descriptionProperties p {
  font-family: 'latobold';
  font-size: 1.2em !important;
  text-align: justify;
}

/*----- GO SLIDER -----*/
#slider .carousel-control {
  background: none;
  height: 50px;
  width: 50px;
  display: block;
  top: 40%;
  font-size: 50px;
}
#slider .carousel-control.left {
  left: 15px;
}
#slider .carousel-control.right {
  right: 15px;
}
#slider .carousel-indicators li {
  background: rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 4px;
  border: none;
  border-radius: 0;
}
#slider .carousel-indicators .active {
  background: #ffffff;
  margin: 1px;
}
#slider .carousel-inner {
  height: 100%;
  max-height: 500px;
}
#slider .carousel-inner .active {
  width: 100%;
}
#slider .carousel-inner img {
  width: 100%;
  height: 500px;
}

/*----- END SLIDER -----*/
/*----- GO CARRUSEL FILTER -----*/
#carruselFilter {
  margin: 0 0 30px 0;
}

/*----- END CARRUSEL FILTER -----*/
/*----- GO SECTION SHORTCUTS -----*/
.joinTeam {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.joinTeam img {
  width: 100%;
  height: auto;
}
.joinTeam .caption a {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #eeeeee;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.joinTeam .caption a p {
  font-family: 'latobold';
  font-size: 1.5em;
  margin: 0;
}

.publishHere {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.publishHere img {
  width: 100%;
  height: 330px;
}
.publishHere .caption {
  display: flex;
  justify-content: center;
}
.publishHere .caption a {
  height: 94%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  width: 80%;
  display: flex;
  top: 3%;
  flex-flow: column;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}
.publishHere .caption a p {
  font-family: 'latoregular';
  font-size: 1.8em;
  margin: 0 auto;
  text-transform: uppercase;
  color: #424242;
  width: 150px;
  line-height: 1.3em;
}
.publishHere .caption a p span {
  font-family: 'latobold';
}
.publishHere .caption a h2 {
  font-family: 'latobold';
  font-size: 3.5em;
  color: #f0b310;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #3c3c3c;
  margin: 8px 0;
}
.publishHere .caption a i {
  font-size: 5em;
  color: #f0b310;
  text-shadow: 1px 1px 2px #3c3c3c;
  line-height: 0.5em;
}

/*----- END SECTION SHORTCUTS -----*/
/*----- GO SECTION FEATURED PROJECTS -----*/
.thumbProject {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  height: 220px;
  width: 360px;
}
.thumbProject img {
  height: 100%;
  width: 100%;
}
.thumbProject .caption {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  padding: 15px;
  color: #ffffff;
}
.thumbProject .caption h4 {
  font-family: 'latobold';
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.thumbProject .caption h5 {
  font-family: 'latolight';
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.thumbProject .caption a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: transparent;
  border: #ffffff 1px solid;
  box-shadow: none;
  padding: 10px;
  font-size: 1em;
  font-family: 'latoregular';
  color: #ffffff;
  text-transform: uppercase;
}

/*----- END SECTION FEATURED PROJECTS -----*/
/*----- GO SECTION FEATURED PROPERTIES -----*/
.thumbProperty {
  margin-bottom: 25px;
}
.thumbProperty .contentTop {
  overflow: hidden;
  position: relative;
  height: 230px;
}
.thumbProperty .contentTop img {
  width: 100%;
  height: 100%;
}
.thumbProperty .contentTop .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px;
}
.thumbProperty .contentTop .caption .businessType {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  width: 35%;
}
.thumbProperty .contentTop .caption .businessType p {
  margin: 0;
  padding: 0;
  font-family: 'latobold';
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.thumbProperty .contentTop .caption .priceProject {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  background: #f0b310;
}
.thumbProperty .contentTop .caption .priceProject p {
  margin: 0;
  font-family: 'latobold';
  font-size: 1.2em;
}
.thumbProperty .contentTop .caption .priceProject p span {
  font-family: 'latoblack';
}
.thumbProperty .contentInfo {
  background: #eeeeee;
}
.thumbProperty .contentInfo .infoProperty {
  padding: 10px 15px;
}
.thumbProperty .contentInfo .infoProperty h4 a {
  font-family: 'latobold';
  font-size: 1.3em;
  margin: 0 0 5px 0;
  color: #111111;
}
.thumbProperty .contentInfo .infoProperty p {
  font-family: 'latolight';
  font-size: 1em;
  margin: 5px 0 0 0;
}
.thumbProperty .contentInfo .infoProperty p span {
  margin-right: 5px;
}
.thumbProperty .contentInfo .characteristicsProperty {
  padding: 10px 15px;
  border-top: #111111 1px solid;
}
.thumbProperty .contentInfo .characteristicsProperty ul {
  margin: 0;
  padding: 0;
}
.thumbProperty .contentInfo .characteristicsProperty ul li {
  display: inline-block;
  font-size: 1em;
  font-family: 'latobold';
  width: 50px;
  text-align: center;
}
.thumbProperty .contentInfo .characteristicsProperty ul li i {
  margin-right: 3px;
}
.thumbProperty .contentInfo .characteristicsProperty ul .metroConstruccion{
  width: 100px !important;
  margin-right: 5px;
}
.banner img{
  max-width: 100% !important;
  margin-bottom: 20px;
}
.error{
  color: red;
  text-transform: lowercase !important;
}
.error::first-letter{
  text-transform: uppercase !important;
}


/*----- END SECTION FEATURED PROPERTIES -----*/

/* PRELOAD */
.load{
  position:fixed;
  display: none;
  top:50%;
  left:50%;
  z-index: 3250;
  transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{
  border:0;
  margin:0;
  width:40%;
  height:40%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite
}

.load :first-child{
  background:#19A68C;
  animation-delay:-1.5s
}
.load :nth-child(2){
  background:#F63D3A;
  animation-delay:-1s
}
.load :nth-child(3){
  background:#FDA543;
  animation-delay:-0.5s
}
.load :last-child{
  background:#193B48
}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

/* DIV BLOQUEA PANTALLA*/

#WindowLoad{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#000;
}
/* ---------------- PAGINADOR ------------*/
.pagination {
  margin: 60px 0;
  text-align: center;
}
.pagination li{
  font-family: 'latobold';
}
.pagination li.active span {
  background-color: #f1b311;
  border-color: #f1b311;
  color: #333333;
}
.pagination li span,.pagination li a{
  border-radius: 50% !important;
  margin: 0 5px;
  color: #f1b311;
}
.pagination li span:hover, .pagination li span:focus,.pagination li a:hover,.pagination li a:focus {
  color: #333333;
  background-color: #f1b311 !important;
  border-color: #f1b311 !important;
}
.video iframe, .video img {
width: 100%;
height: 350px;
margin: 0;
margin-bottom: 15px;
padding: 0;
}
.video p {
  margin: 15px !important;
  text-align: justify;
}
.googleMap {
  margin-bottom: 60px;
}
.totalizador{
  position: absolute;
  top: -17px;
  right: 15px;
  padding: 10px 15px;
  background: #f1b311;
  margin: 0;
  font-family: 'latoblack';
  font-size: 1.2em;

}
.contenido,.contenido1{
  margin-top: 45px;
  text-align: justify;
  font-size: 14px !important;
}
.llave{
  margin: 0 !important;
  padding-top: 0;
  color: #beae89;
  font-size:22em;
}
.contllave{
  line-height: 18em;
}
.contenido1{
  margin-top: 100px;
}
