/*-SEARCH INPUT-*/
.easy-autocomplete-container{
	z-index: 999;
}
input.file-input{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height:100%;
	width:100%;
}
#map{
	width: 100%;
	height: 450px;
}
select{
	margin-bottom: 30px;
}
.cont-imagen{
	width: 290px;
	height: 220px;
}
.cont-imagen img{
	width:100%;
	height:100%;
}
#estadoTag, #cityTag{
	text-transform: uppercase;
}

/*-------------- Reportes y Estadisticas -----------------*/

.filtro{
	display: none;
}
#encabezado{
	margin-top: 50px;
	font-family: 'latobold';
}
#encabezado .image{
	width: 20%;
}
.image img{
	margin-left: auto;
    margin-right: auto;
    display: block;
}
#encabezado .titulo{
	padding-top: 20px;
	text-align: center;
	color: #424242;
	font-size:30px;
}
#registros .asesor{
	padding-left: 30px;
	font-family: 'latobold';
	font-size: 1.2em;
}
/*----------------------- Distribución de estatus por ubicacion ---*/

#registros .estados{
	padding-left: 20px;
	font-family: 'latobold';
	font-size: 1.2em;
}
#registros .ciudades{
	padding-left: 45px;
	font-family: 'latobold';
	font-size: 1.2em;
}
#registros .urbanizaciones{
	padding-left: 70px;
	font-family: 'latolight';
	font-size: 1em;
}

/*----------------------- Propiedades Captadas por Asesor ---*/

#registros .asesores{
	padding-left: 20px;
	font-family: 'latobold';
	font-size: 1.2em;
}
.titulo th,.active th, .totales th{
	text-align: center;
	font-family: 'latobold';
}
.propiedades th{
	text-align: center;
	font-family: 'latolight';
	font-size: 1em;
}
/*----------------------- Propiedades Captadas por Ubicacion ---*/
.danger th:not(.estados),.warning th:not(.ciudades),.success th:not(.urbanizaciones){
	text-align: center;
}