/* GENERALS STYLES */
/*----- GO RESET -------*/
li {
  list-style: none;
}

a, a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

/*----- END RESET -------*/
/*----- GO HEADER -----*/
header {
  height: 130px;
  background: #000000;
  border-bottom: #f1b311 7px solid;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 9999999;
}

/*----- END HEADER -----*/
/*----- GO GENERALS -------*/
body {
  background: #fff;
  height: 100%;
}
body.login {
  background: #f6f6f6 !important;
}

section {
  margin: 30px 0;
}

hr {
  border-color: #717a81;
  margin-bottom: 30px;
}

.noPadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.noMargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.displayNone {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}
.textLeft {
  text-align: left;
}

.textRight {
  text-align: right;
}

.textCenter {
  text-align: center;
}

.marginBottom20 {
  margin-bottom: 20px !important;
}

.marginForm {
  margin-right: 20px;
  margin-left: 20px;
}

.redError {
  color: #e40303 !important;
}

.titleSection {
  text-transform: uppercase;
  font-family: 'latobold';
  font-size: 1.2em;
  color: #111111;
  padding-bottom: 10px;
  border-bottom: #717a81 1px solid;
  margin: 25px 0;
}
.titleSection span {
  text-transform: initial;
  font-family: 'latoregular';
}

.alert {
  padding: 15px;
  margin-bottom: 0;
  border-radius: 0;
}
.alertSearch {
  background: #cccccc;
}
.alertGreen {
  background: #00a651;
  height: 60px;
  color: #ffffff;
  font-family: 'latolight';
  border-radius: 5px;
}
.alertRed{
  background: #EF5350;
  height: 60px;
  color: #ffffff;
  font-family: 'latolight';
  border-radius: 5px;
}
.alertOrange{
  background: #FF9800;
  height: 60px;
  color: #ffffff;
  font-family: 'latolight';
  border-radius: 5px;
}
.alertGreen h5, .alertRed h5, .alertOrange h5{
  font-size: 1.3em;
  text-align: center;
  margin: 3px 0;
}
.alertGreen h5 span,.alertRed h5 span, .alertOrange h5 span {
  font-family: 'latobold';
}
.alertGrayLight {
  background: #cccccc;
  min-height: 60px;
  color: #333333;
  font-family: 'latolight';
  border-radius: 5px;
}

/*CIRCLES*/
.circle, .circleYellow, .circleGreen {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  vertical-align: middle;
}
.circleYellow {
  background-color: #f1b311;
}
.circleGreen {
  background-color: #00a651;
}
.addPicCont{
  padding-left:50px;
  padding-top: 45px;
}
.addPic {
  padding-top: 7px;
  padding-left: 13px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  font-size: 20px;
  cursor: pointer;
  color: #333333;
  background-color: #8b8b8b;
}
.addPic:hover {
  color: #8b8b8b;
  background-color: #ededee;
}
.btnGeneral, .btnYellow, .btnGray, .btnGrayHight, .btnGraySmall, .btnAcction, .btnInactive, .btnRed,.btnGreen {
  margin: 20px 0;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

.btnYellow {
  background: #f1b311;
  font-family: 'latoregular';
  color: #333333;
  font-size: 1.5em;
  height: 60px;
}
.btnYellowEstatus{
  font-size: 1em;
}
.btnRed,.btnGreen {
  background: #EF5350;
  font-family: 'latoregular';
  color: #fff;
  font-size: 1em;
  height: 60px;
}
.btnGreen{
  background: #00796B;
  font-family: 'latoregular';
  color: #fff;
  font-size: 1em;
  height: 60px;
  visibility: hidden;
}
.btnGreenAjuste{
  background: #00796B;
  font-family: 'latoregular';
  color: #fff;
  font-size: 1em;
  height: 60px;
  visibility: visible;
}
.estatusInmueble{
  margin-top: 95px;
  min-height: 100px;
  max-height: 100px;
}

.btnGray, .btnGrayHight, .btnGraySmall {
  background: #333333;
  font-family: 'latoregular';
  color: #f6f6f6;
  font-size: 1.12em;
}
.btnGrayHight {
  font-size: 1.5em;
}
.btnGraySmall {
  font-size: 1em;
  height: 30px;
  padding: 5px 15px;
}

.btnAcction {
  background: #333333;
  font-family: 'latoregular';
  color: #f6f6f6;
  font-size: 0.9em;
}

.btnInactive {
  background: #717a81 !important;
  font-family: 'latoregular';
  color: #f6f6f6 !important;
  cursor: no-drop !important;
}

.modal-dialog {
  top: 150px;
  width: 70%;
  z-index: 999999;
}
.modal-dialog .modal-content {
  border-radius: 0;
  background: #f6f6f6;
}
.modal-dialog .modal-content .modal-header h4 {
  font-family: 'latobold';
  color: #111111;
  font-size: 1.8em;
  text-transform: uppercase;
}
.modal-dialog .modal-content .modal-header img {
  width: 150%;
  height: auto;
}
.modal-dialog .modal-content .form label {
  text-transform: uppercase;
  font-size: 1.12em;
  font-family: 'latobold';
  font-weight: normal;
}
.modal-dialog .modal-content .form .styled-input-single input[type="radio"] {
  position: absolute;
}
.modal-dialog .modal-content .form input {
  height: 60px;
  font-size: 1.87em;
  position: relative;
  padding: 10px 25px 10px 50px;
}
.modal-dialog .modal-content .form select {
  border-radius: 0;
  background: transparent;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  border: #111111 1px solid;
  box-shadow: none;
  height: 40px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.modal-dialog .modal-content .form textarea {
  box-shadow: none;
  height: 100%;
  min-height: 80px;
  font-family: 'latolight';
  color: #333333;
  font-size: 1.12em;
  resize: none;
}
.modal-dialog .modal-content .form .modal-body-top {
  padding-bottom: 30px;
  border-bottom: #333333 1px solid;
}
.modal-dialog .modal-content .form .modal-body-bottom {
  padding: 30px 0;
}
.modal-dialog .modal-content .form .modal-body-bottom label {
  text-transform: initial !important;
  font-size: 1em !important;
  margin-top: 20px;
}
.modal-dialog .modal-content .form .modal-body-bottom h2 {
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 26px 0;
  font-family: 'latobold';
}

.modal-dialog .nav-tabs li {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'latobold';
}
.modal-dialog .nav-tabs li a {
  background-color: #cccccc;
  border: 0;
  color: #333333;
}
.modal-dialog .nav-tabs li.active a {
  background-color: #f1b311;
  border: 0;
  color: #333333;
}
.modal-dialog .newNegotation {
  padding: 30px 0;
}
.modal-dialog .newNegotation input {
  box-shadow: none;
  height: 50px;
  font-size: 1.5em;
  position: relative;
  padding: 10px 25px 10px 50px;
}
.modal-dialog .newNegotation select {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-family: 'latolight';
  background-color: #cccccc;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  color: #333333;
  height: 50px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 6px 25px 6px 12px;
}
.modal-dialog .newNegotation select option {
  height: 30px;
  padding: 7px 5px;
}
.modal-dialog .cont-negotiation{
  width:100%;
}
.modal-dialog .panel-group {
  padding: 30px 0;
}
.modal-dialog .title-progress{
  text-align: center;
  padding-top: 15px;
  font-size: 1.2em;
}
.modal-dialog .panel-group .panel-heading {
  border-radius: 0;
  background-color: #333333;
  color: #cccccc;
  height: 50px;
  padding: 15px;
}
.modal-dialog .panel-group .panel-body {
  text-align: center;
}
.modal-dialog .panel-group .panel-body .alertGrayLight {
  background: #cccccc;
  min-height: 40px;
  color: #333333;
  font-family: 'latoregular';
  border-radius: 5px;
}

.ubicationProperties p {
  font-family: 'latolight';
  font-size: 1.12em;
  color: #262626;
  margin-bottom: 30px;
}
.ubicationProperties p span {
  font-family: 'latobold';
}

.googleMap {
  margin-bottom: 60px;
}

/*----- END GENERALS -------*/
/*----- GENERALS FORM -----*/
.inputs {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-family: 'latolight';
}
.inputsLight, .modal-dialog .modal-content .form input, .modal-dialog .modal-content .form textarea, .modal-dialog .newNegotation input, #login input, .contentAgents input {
  background: #cccccc;
  color: #333333;
}
.inputsDark, .alertSearch input {
  background: #333333;
  color: #cccccc;
}

select {
  border: none;
  border-radius: 5px;
  box-shadow: none;
  width: 100%;
  font-family: 'latolight';
  background-color: #cccccc;
  background-image: url("../images/arrow-down.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  color: #333333;
  height: 60px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  padding: 6px 25px 6px 12px;
}
select option {
  height: 30px;
  padding: 7px 5px;
}

textarea {
  height: 100%;
  min-height: 150px;
  font-size: 1.12em;
  resize: none;
  padding: 15px;
  margin-bottom: 30px;
}
textarea:focus {
  border: none;
  box-shadow: none;
}

/*----- INPUT RADIO -----*/
.styled-input-single {
  position: relative;
  padding: 20px 0 20px 40px;
  text-align: left;
}
.styled-input-single label {
  cursor: pointer;
}
.styled-input-single label:before, .styled-input-single label:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
}
.styled-input-single label:before {
  left: 0;
  width: 30px;
  height: 30px;
  margin: -15px 0 0;
  background: #f7f7f7;
  box-shadow: 0 0 1px grey;
}
.styled-input-single label:after {
  left: 5px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0;
  opacity: 0;
  background: #f1b311;
  transform: translate3d(-40px, 0, 0) scale(0.5);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.styled-input-single input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}
.styled-input-single input[type="radio"]:checked + label:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.styled-input-single {
  position: relative;
  padding: 15px 0 15px 40px;
  text-align: left;
}
.styled-input-single label {
  cursor: pointer;
  font-size: 1.2em;
  color: #333333;
  font-family: 'latolight';
}
.styled-input-single label:before, .styled-input-single label:after {
  content: '';
  position: absolute;
  top: 50%;
}
.styled-input-single label:before {
  left: 0;
  width: 30px;
  height: 30px;
  margin: -15px 0 0;
  background: #f7f7f7;
  box-shadow: 0 0 1px grey;
}
.styled-input-single label:after {
  left: 5px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0;
  opacity: 0;
  background: #f1b311;
  transform: translate3d(-40px, 0, 0) scale(0.5);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.styled-input-single input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -9999px;
  visibility: hidden;
}
.styled-input-single input[type="checkbox"]:checked + label:after {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.viewRadio {
  padding: 0;
  margin: 0;
}
.viewRadio li{
  display: inline-block;
  margin-right: 10px;
}
.viewRadio h6 {
  font-family: 'latobold';
  font-size: 1.3em;
}
.viewRadioEstadistica li{
  display: block !important;
  margin-right: 0;
}

/*----- LOGIN -----*/
#login {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 560px;
  margin-top: 65px;
}
#login h3 {
  font-size: 1.87em;
  color: #333333;
  text-transform: uppercase;
  color: #333333;
  margin: 20px 0;
  font-family: 'latoregular';
}
#login input {
  height: 60px;
  font-size: 1.87em;
  position: relative;
  padding: 10px 25px 10px 50px;
  margin-top: 30px;
}
#login .iconInput {
  position: absolute;
  z-index: 999;
  left: 25px;
  height: 50px;
  width: 25px;
  text-align: center;
}
#login .iconInput i {
  font-size: 1.87em;
  color: #333333;
  margin-top: 15px;
}

.contentAgents input {
  height: 60px;
  font-size: 1.87em;
  position: relative;
  padding: 10px 25px 10px 50px;
  margin-top: 30px;
}
.contentAgents .iconInput {
  position: absolute;
  z-index: 999;
  left: 25px;
  height: 50px;
  width: 25px;
  text-align: center;
}
.contentAgents .iconInput i {
  font-size: 1.87em;
  color: #333333;
  margin-top: 15px;
}

/*----- SEARCH -----*/
.alertSearch .buscador,.alertSearch .btnYellow{
  height: 40px;
  position: relative;
  padding: 10px 25px 10px 50px;
}
.alertSearch .iconInput {
  position: absolute;
  z-index: 999;
  left: 25px;
  height: 50px;
  width: 25px;
  text-align: center;
}
.alertSearch .iconInput i {
  font-size: 1.5em;
  color: #717a81;
  margin-top: 9px;
}
.alertSearch select {
  border: none;
  height: 40px;
  color: #cbcbcb;
  font-family: 'latoregular';
  font-size: 1em;
  box-shadow: none;
  background-color: #363636;
  background-position: 80% 60% !important;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
}
.alertSearch select option {
  background-color: #363636;
  height: 40px;
  top: 50px;
  border: none !important;
  padding: 12px 0;
}
.alertSearch select:focus {
  border: none;
  box-shadow: none;
}
.alertSearch .btnYellow {
  background-color: #fcaf37;
  color: #000;
  margin: 0px 0;
  border: none;
  text-transform: uppercase;
  border-radius: 5px;
  width: 100%;
  padding: 0px 0;
  text-align: center;
}
/*----- AVATAR -----*/
.avatarForm {
  margin: 40px 0;
  height: calc(81vh - 75px);
}
.avatarForm input {
  height: 60px;
  margin-bottom: 30px;
}
.avatarForm button {
  height: 60px;
}

.agenteForm {
  margin: 40px 0;
}
.agenteForm input {
  height: 60px;
  margin-bottom: 30px;
}
.agenteForm button {
  height: 60px;
}

/*----- GO SECTION FEATURED PROJECTS -----*/
.thumbProject {
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
}
.thumbProject img {
  height: auto;
  width: 100%;
}
.thumbProject .caption {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  padding: 15px;
  color: #ffffff;
}
.thumbProject .caption h4 {
  font-family: 'latobold';
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.thumbProject .caption h5 {
  font-family: 'latolight';
  font-size: 1.3em;
  margin: 0 0 5px 0;
}
.thumbProject .caption a {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: transparent;
  border: #ffffff 1px solid;
  box-shadow: none;
  padding: 10px;
  font-size: 1em;
  font-family: 'latoregular';
  color: #ffffff;
  text-transform: uppercase;
}

/*----- END SECTION FEATURED PROJECTS -----*/
/*----- GO SECTION FEATURED PROPERTIES -----*/
.thumbProperty {
  margin-bottom: 25px;
}
.thumbProperty .contentTop {
  overflow: hidden;
  position: relative;
}
.thumbProperty .contentTop img {
  width: 100%;
  height: 150px;
}
.thumbProperty .contentTop .editProperty, .thumbProperty .contentTop .deleteProperty{
  display: none;
}
.thumbProperty .contentTop:hover .editProperty{
  display: block;
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
}
.thumbProperty .contentTop:hover .deleteProperty{
  display: block;
  position: absolute;
  top: 35%;
  left: 55%;
  text-align: center;
}
.thumbProperty .contentTop:hover .editProperty a, .thumbProperty .contentTop:hover .deleteProperty a {
  display: block;
  height: 45px;
  width: 45px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  color: #333333;
  font-size: 1.6em;
  padding: 8px 0;
}
.thumbProperty .contentTop .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 15px;
}
.thumbProperty .contentTop .caption .businessType {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  width: 35%;
}
.thumbProperty .contentTop .caption .businessType p {
  margin: 0;
  padding: 0;
  font-family: 'latobold';
  font-size: 1em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.thumbProperty .contentTop .caption .priceProject {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  background: #f1b311;
}
.thumbProperty .contentTop .caption .priceProject p {
  margin: 0;
  font-family: 'latobold';
  font-size: 1.2em;
}
.thumbProperty .contentTop .caption .priceProject p span {
  font-family: 'latoblack';
}
.thumbProperty .contentInfo {
  background: #eeeeee;
}
.thumbProperty .contentInfo .infoProperty {
  padding: 10px 15px;
}
.thumbProperty .contentInfo .infoProperty h4 a, .thumbProperty .contentInfo .infoProperty h4{
  font-family: 'latobold';
  font-size: 1.3em;
  margin: 0 0 5px 0;
  color: #111111;
}
.thumbProperty .contentInfo .infoProperty p {
  font-family: 'latolight';
  font-size: 1em;
  margin: 5px 0 0 0;
}
.thumbProperty .contentInfo .infoProperty p span {
  margin-right: 5px;
}
.thumbProperty .contentInfo .characteristicsProperty {
  padding: 10px 15px;
  border-top: #111111 1px solid;
}
.thumbProperty .contentInfo .characteristicsProperty ul {
  margin: 0;
  padding: 0;
}
.thumbProperty .contentInfo .characteristicsProperty ul li {
  display: inline-block;
  font-size: 1em;
  font-family: 'latobold';
  width: 24%;
  text-align: center;
}
.thumbProperty .contentInfo .characteristicsProperty ul li i {
  margin-right: 5px;
}

/*----- END SECTION FEATURED PROPERTIES -----*/
/*----- AVATAR -----*/
.containertAvatar {
  height: 233px;
  width: 233px;
  overflow: hidden;
}
.containertAvatar .editAvatar {
  display: none;
}
.containertAvatar:hover .editAvatar {
  display: block;
  position: absolute;
  top: 33%;
  left: 33%;
}
 .file-upload, .containertAvatar:hover .editAvatar a {
  display: block;
  height: 60px;
  width: 60px;
  border:rgba(255,255,255,0.6);
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  color: #333333;
  font-size: 2em;
  padding: 10px 0;
  text-align: center;
}
.containertAvatar img{
  width:100%;
  height: 233px;
}

/*DETAIL PROPERTY*/
.contentDetail p, .contentAgents p {
  font-size: 1em;
  line-height: 20px;
  margin-top: 10px;
  color: #333333;
  font-family: 'latolight';
}
.contentDetail p span, .contentAgents p span {
  font-family: 'latobold';
}
.contentDetail button, .contentAgents button {
  margin: 60px 0;
}
.contentDetail .reports button, .contentDetail .agents button, .contentAgents .reports button, .contentAgents .agents button {
  margin: 5px 0;
  vertical-align: middle;
}
.contentDetail .reports .listReports, .contentDetail .reports .listAgents, .contentDetail .agents .listReports, .contentDetail .agents .listAgents, .contentAgents .reports .listReports, .contentAgents .reports .listAgents, .contentAgents .agents .listReports, .contentAgents .agents .listAgents {
  margin-top: 30px;
}
.contentDetail .reports .listReports .alert, .contentDetail .reports .listAgents .alert, .contentDetail .agents .listReports .alert, .contentDetail .agents .listAgents .alert, .contentAgents .reports .listReports .alert, .contentAgents .reports .listAgents .alert, .contentAgents .agents .listReports .alert, .contentAgents .agents .listAgents .alert {
  margin-bottom: 20px;
}
.contentDetail .reports .listReports h5, .contentDetail .reports .listAgents h5, .contentDetail .agents .listReports h5, .contentDetail .agents .listAgents h5, .contentAgents .reports .listReports h5, .contentAgents .reports .listAgents h5, .contentAgents .agents .listReports h5, .contentAgents .agents .listAgents h5 {
  font-family: 'latobold';
  font-size: 1.2em;
  color: #333333;
}
.contentDetail .reports .listReports ul, .contentDetail .reports .listAgents ul, .contentDetail .agents .listReports ul, .contentDetail .agents .listAgents ul, .contentAgents .reports .listReports ul, .contentAgents .reports .listAgents ul, .contentAgents .agents .listReports ul, .contentAgents .agents .listAgents ul {
  float: right;
  margin: 0;
}
.contentDetail .reports .listReports ul li, .contentDetail .reports .listAgents ul li, .contentDetail .agents .listReports ul li, .contentDetail .agents .listAgents ul li, .contentAgents .reports .listReports ul li, .contentAgents .reports .listAgents ul li, .contentAgents .agents .listReports ul li, .contentAgents .agents .listAgents ul li {
  display: inline-block;
  margin-left: 15px;
}
.contentDetail .reports .listReports ul li a i, .contentDetail .reports .listAgents ul li a i, .contentDetail .agents .listReports ul li a i, .contentDetail .agents .listAgents ul li a i, .contentAgents .reports .listReports ul li a i, .contentAgents .reports .listAgents ul li a i, .contentAgents .agents .listReports ul li a i, .contentAgents .agents .listAgents ul li a i {
  font-size: 2em;
  color: #333333;
  vertical-align: middle;
}

/*LIST AGENTS*/
.contentAgents p {
  font-size: 1em;
  line-height: 20px;
  margin-top: 10px;
  color: #333333;
  font-family: 'latolight';
}
.contentAgents p span {
  font-family: 'latobold';
}
.contentAgents button {
  margin: 60px 0;
}
.contentAgents .reports button {
  margin: 0 !important;
  vertical-align: text-bottom;
}
.contentAgents .reports .listReports {
  margin-top: 30px;
}
.contentAgents .reports .listReports .alert {
  margin-bottom: 20px;
}
.contentAgents .reports .listReports h5 {
  font-family: 'latobold';
  font-size: 1.2em;
  margin: 5px 0;
  color: #333333;
}
.contentAgents .reports .listReports ul {
  float: right;
  margin: 0;
}
.contentAgents .reports .listReports ul li {
  display: inline-block;
  margin-left: 15px;
}
.contentAgents .reports .listReports ul li a i {
  font-size: 2em;
  color: #333333;
  vertical-align: super;
}

/* make sidebar nav vertical */
.affix-content .container {
  margin-top: 0;
}

.affix-content {
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  overflow: auto;
  margin-top: 130px;
  min-height: 500px;
}

.affix-title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 10px;
}

.navbar-nav {
  margin: 0;
}

.navbar-collapse {
  padding: 0;

}

.affix-sidebar {
  padding-right: 0;
  padding-left: 0;
  background: #333333;

}

.affix-row, .affix-container, .affix-content {
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}

.navbar-default {
  background: #333333;
  overflow-y: scroll;
  overflow-x:hidden;
}
.navbar-default::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.navbar-default::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.navbar-default::-webkit-scrollbar-thumb
{
	background-color: #F90;
	background-image: -webkit-linear-gradient(90deg,
                    rgba(255, 255, 255, .2) 25%,
									  transparent 25%,
									  transparent 50%,
									  rgba(255, 255, 255, .2) 50%,
									  rgba(255, 255, 255, .2) 75%,
									  transparent 75%,
									  transparent)
}

.sidebar-nav {
  position: fixed;
  bottom: 0px;
  width: 25%;

}
.sidebar-nav .contentAvatar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 10px 0;
}
.sidebar-nav .contentAvatar span {
  display: block;
  height: 60px;
  width: 60px;
  background: #ffffff;
  border-radius: 50%;
  float: left;
  border: #f1b311 3px solid;
  margin: 0 20px;
}
.sidebar-nav .contentAvatar span img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.sidebar-nav .contentAvatar p {
  margin-top: 20px;
}
.sidebar-nav .navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
}
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
  display: block;
}
.sidebar-nav .navbar ul li {
  float: none;
  display: block;
  border-bottom: #cccccc 1px solid;
  font-family: 'latoregular';
  font-size: 1.1em;
  text-transform: uppercase;
  color: #cccccc;
}
.sidebar-nav .navbar ul li.active a {
  background: #f1b311;
  color: #333333;
}
.sidebar-nav .navbar ul li a {
  padding: 15px;
  color: #cccccc;
}
.sidebar-nav .navbar ul li a:hover, .sidebar-nav .navbar ul li a:focus {
  background: #f1b311;
  color: #333333;
}
.sidebar-nav .navbar ul li a .caret {
  margin-top: 8px;
  position: absolute;
  left: 300px;
}
.sidebar-nav .nav-list li {
  font-size: 0.9em !important;
}
.sidebar-nav .nav-list li a:hover {
  background: #cccccc !important;
  color: #333333 !important;
}

.infoDetailProperties h2 {
  font-size: 2em;
  margin-bottom: 5px;
  font-family: 'latobold';
  color: #242424;
}
.infoDetailProperties h3 {
  font-size: 2em;
  margin: 5px 0 20px 0;
  font-family: 'latoregular';
}
.infoDetailProperties p {
  font-size: 1em;
  font-family: 'latolight';
}
.infoDetailProperties .descriptionProperties {
  margin-bottom: 45px;
}
.infoDetailProperties .descriptionProperties p {
  font-size: 1em;
  font-family: 'latolight';
  color: #242424;
  line-height: 2em;
  margin-bottom: 25px;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul {
  padding: 0;
  margin: 0 0 30px 0;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul li {
  display: inline-block;
  text-align: center;
  margin-right: 40px;
}
.infoDetailProperties .descriptionProperties .characteristicsProperties ul li p {
  padding: 10px 15px;
  background: #f0b310;
  display: block;
  margin: 0;
  font-family: 'latobold';
  font-size: 1.2em;
}
.error{
  color: #E53935;
}
.ocultos{
  display: none;
}
/* PRELOAD */
.load{
  position:fixed;
  display: none;
  top:50%;
  left:50%;
  z-index: 3250;
  transform:translate(-50%, -50%);
  /*change these sizes to fit into your project*/
  width:100px;
  height:100px;
}
.load hr{
  border:0;
  margin:0;
  width:40%;
  height:40%;
  position:absolute;
  border-radius:50%;
  animation:spin 2s ease infinite
}

.load :first-child{
  background:#19A68C;
  animation-delay:-1.5s
}
.load :nth-child(2){
  background:#F63D3A;
  animation-delay:-1s
}
.load :nth-child(3){
  background:#FDA543;
  animation-delay:-0.5s
}
.load :last-child{
  background:#193B48
}

@keyframes spin{
  0%,100%{transform:translate(0)}
  25%{transform:translate(160%)}
  50%{transform:translate(160%, 160%)}
  75%{transform:translate(0, 160%)}
}

/* DIV BLOQUEA PANTALLA*/

#WindowLoad{
    position:fixed;
    top:0px;
    left:0px;
    z-index:3200;
    filter:alpha(opacity=65);
   -moz-opacity:65;
    opacity:0.65;
    background:#000;
}
/* ---------------- PAGINADOR ------------*/
.pagination {
  margin: 60px 0;
  text-align: center;
}
.pagination li{
  font-family: 'latobold';
}
.pagination li.active span {
  background-color: #f1b311;
  border-color: #f1b311;
  color: #333333;
}
.pagination li span,.pagination li a{
  border-radius: 50% !important;
  margin: 0 5px;
  color: #f1b311;
}
.pagination li span:hover, .pagination li span:focus,.pagination li a:hover,.pagination li a:focus {
  color: #333333;
  background-color: #f1b311 !important;
  border-color: #f1b311 !important;
}
/*--------------MARCADOR DE FOTO DE PORTADA --------------*/
.portada{
  position: absolute;
  font-family:latobold;
  left: 0px;
  bottom: 40px;
}
/*------------------ GESTOR DE EVENTOS (CALENDARIO)----------------------*/
.cabeceraGestor {
  margin-top: 20px;
  font-family: latobold;
  font-size:3em;
  border-radius: 5px 5px 0 0;
  color:#fff;
  background-color:#00BCD4;
  border: solid 1px;
  border-color: #CFD8DC !important;
}
.flechaIzquierda{
  left: -15px;
  margin-top: 5px;
}
.flechaDerecha{
  margin-top: 5px;
}
.mes{
  text-align: center;
}
.arrow {
  position: absolute;
  padding: 1.5rem;
  box-shadow: 1px -1px 0 1px inset;
  -webkit-box-shadow: 2px -2px inset;
  border: solid transparent;
  border-width: 0 0 2rem 2rem;
  transition: 0.2s;
}
.arrow:hover {
  box-shadow: 2px -2px 0 2px inset;
  -webkit-box-shadow: 4px -4px  inset;
}
.arrow-right {
  transform:rotate(225deg)

}
.arrow-left {
  transform:rotate(45deg)
}

.contDias{
  padding: 0;
}
.dias{
  background-color: #ECEFF1;
  border: solid 1px;
  border-color: #CFD8DC !important;
}
.celdaDia{
  padding: 10px;
  border-radius: 3px;
  font-family: latobold;
  font-size: 1.4em;
  width:150px;
  text-align: center;
}
.rowDia{
  border-color: #CFD8DC;
  border: solid 1px;
  padding: 10px;
  color: #B0BEC5;
  border-radius: 3px;
  font-family: latobold;
  font-size:3em;
  width:150px;
  text-align: center;
}
.celda{
  border-color: #CFD8DC;
  border: solid 1px;
  text-align: center;
}
.celdallena{
  cursor: pointer;
}
.notification-counter {
  padding: 3px 6px 3px 6px;
  position: relative;
  top: -25px;
  right: 5px;
  color: white;
  font-size: 0.3em;
  border: solid 2px;
  border-color:black;
  background-color:#546E7A;
  border-radius:50%;
  -webkit-box-shadow: 2px 5px 5px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 5px 5px -4px rgba(0,0,0,0.75);
  box-shadow: 2px 5px 5px -4px rgba(0,0,0,0.75);
  display:inline-block!important;
  -webkit-transition:-webkit-transform 1s ease-out;
  -moz-transition:-moz-transform 1s ease-out;
  -o-transition:-o-transform 1s ease-out;
  -ms-transition:-ms-transform 1s ease-out;
  transition:transform 1s ease-out;
}
.notification-counter:hover{
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3)
}
